.example-spacer{
    margin-left: 90%;
}
.trendy{
    font-style:oblique; 
    color: white;
    opacity: 0.9;
    font-size: 25px;
    font-weight: 600;
    
}
/* .demo{
    margin-bottom: 80px; 
     padding-bottom: 50px;
} */
#icon{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    
}
.form-control{
    margin-left: 750px;
    
    font-size: 17px;
    /* padding-top: 2 0 2px; */
    padding-left: 3px;
    
    
    
}
#search{
    border-radius: 2px;
    margin-left: 22px;
    width: 325px;
    margin-bottom: 5px;
    
}

.button{
    display: flex;
    flex-direction: column;
    margin-left: 60px;

}
.search-icon{
    position: absolute;
    z-index: 6;
    right: 12%;
    top: 18px;
    color: grey;
    font-size: 15px;
    padding-top: 3px;
    
}