.example-spacer{
    margin-left: 90%;
}
.trendy{
    font-style:oblique; 
    color:white;
    opacity: 0.9;
    font-size: 25px;
    font-weight: 600;
}
/* .demo{
    margin-bottom: 80px; 
     padding-bottom: 50px;
} */
#icon{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    
}
.form-control{
    margin-left: 450px;
    font-size: 15px;
    padding-left: 2px;
}
#search{
    border-radius: 2px;
    margin-left: 10px;
    width: 250px;
    margin-bottom: 5px;
    
}

.button{
    display: flex;
    flex-direction: column;
    margin-right: 400px;
    padding-left: 300px;
    
   

}
/* #cart-button{
    display: flex;
    flex-direction: column;
    padding-left: -350px;
    border-right: -150px;
} */
.search-icon{
    position: absolute;
    z-index: 6;
    right: 41%;
    top: 18px;
    color: grey;
    font-size: 15px;
    padding-top: 3px;
    
}