<!-- <p>footer works!</p> -->

<div class="container-fluid"> 
    <div class="container">
        <div class="useful-links">
            <h6>Quick Links</h6>
            <ul>
                <li><a routerLink="/products"><span>Product</span></a></li>
                <li><a routerLink="/cart"><span>Cart</span></a></li>
                <li><a routerLink="#"><span>Categories</span></a></li>
                <li><a routerLink="#"><span>Contact Us</span></a></li>
              
            </ul>
        </div>
    </div>
       
<div class="container d-flex">
    <div class="newsletter">
        <h6>Subcribe to our newsletter</h6>
        <div class="form-group">
            <label for="formGroupExampleInput">Full Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your name">
          </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@email.com">
          </div>
          <div class="button">
            <button type="submit" class="btn btn-outline-primary" style=" margin-top: 5px;">Subscribe</button>
        </div>
    </div>
</div>


<hr style="height: 2px;border: width 0;color:gray;">

<div class="container d-flex">
    <div class="social">
        <h6 style="font-style: italic; font-weight:400;">Check out our social media pages</h6>
        <a> 
            <span><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></span>
        </a>
        <a>
            <span><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></span>
        </a>
        <a>
            <span><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></span>
        </a>
        <a>
            <span><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></span>
        </a>
        <a>
            <span><i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i></span>
        </a> 

        <a>
            <span><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></span>
        </a> 
        <a>
            <span><i class="fa fa-skype fa-2x" aria-hidden="true"></i></span>
        </a> 
    </div>
</div>

  
<div class="container">
    <div class="copy">
        <h6 style="font-style: italic;">All rights reserved</h6>
        <span> &copy; 2022 Developed with <i class="fa fa-heart 2x" aria-hidden="true"></i> by Patrick</span>
    </div>
</div>

<div class="container">
    <div class="contact-us">
        <h6>Contact Us</h6>
        <div class="email">
            <a> <span><i class="fa fa-envelope fa-2x" aria-hidden="true" style="padding-right: 5px;"></i>info@trendy.io</span></a>
        </div>
        <div class="phone">
            <a><span><i class="fa fa-phone fa-rotate-90 fa-2x" aria-hidden="true" style="padding-right: 8px;"></i>+254 (052) 100 100</span></a> 
        </div> 
        <div class="linkedin">
            <a><span><i class="fa fa-linkedin fa-2x" aria-hidden="true" style="padding-right: 5px;"></i>Trendy Solutions</span></a>
        </div>   
</div>
</div>
</div>