<app-header></app-header>
<div class="body">
    <router-outlet></router-outlet>
</div>
<!-- <div class="footer">
    <div class="row">

      <h5>Footer</h5>
    </div>
  </div> -->
<div class="container-fluid"> 
    <div class="container">
        <div class="useful-links">
            <h6>Quick Links</h6>
            <ul>
                <li><a routerLink="/products"><span>Product</span></a></li>
                <li><a routerLink="/cart"><span>Cart</span></a></li>
                <li><a routerLink="/#"><span>Categories</span></a></li>
                <li><a routerLink="/#"><span>Contact Us</span></a></li>
                <!-- <li><a routerLink="/products"><span>Product</span></a></li> -->
                
                <!-- <a routerLink="/products"><span>Product</span></a> -->
                <!-- <a routerLink="/cart"><span>Cart</span></a>
                <li>Categories</li>
                <li>Cart</li>
                <li>Newsletter</li>
                <li>Contact Us</li> -->
            </ul>
        </div>
    </div>
       
<div class="container d-flex">
    <div class="newsletter">
        <h6>Subcribe to our newsletter</h6>
        <div class="form-group">
            <label for="formGroupExampleInput">Full Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your name">
          </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="button">
            <button type="submit" class="btn btn-outline-primary" style=" margin-top: 5px;">Subscribe</button>
        </div>
    </div>
</div>


<hr style="height: 2px;border: width 0;;;color:gray;">

<div class="container d-flex">
    <div class="social">
        <h6 style="font-style: italic; font-weight:400;">Check out our social media pages</h6>
        <a> 
            <span><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></span>
        </a>
        <a>
            <span><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></span>
        </a>
        <a>
            <span><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></span>
        </a>
        <a>
            <span><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></span>
        </a>
        <a>
            <span><i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i></span>
        </a> 

        <a>
            <span><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></span>
        </a> 
        <a>
            <span><i class="fa fa-skype fa-2x" aria-hidden="true"></i></span>
        </a> 
    </div>
</div>

  
<div class="container">
    <div class="copy">
        <h6 style="font-style: italic;">All rights reserved</h6>
        <span> &copy; 2022 Developed by Patrick</span>
    </div>
</div>

<div class="container">
    <div class="contact-us">
        <h6>Contact Us</h6>
        <div class="email">
            <a> <span><i class="fa fa-envelope fa-2x" aria-hidden="true" style="padding-right: 5px;"></i>info@trendy.io</span></a>
        </div>
        <div class="phone">
            <a><span><i class="fa fa-phone fa-rotate-90 fa-2x" aria-hidden="true" style="padding-right: 8px;"></i>+254 (052) 100 100</span></a> 
        </div> 
        <div class="linkedin">
            <a><span><i class="fa fa-linkedin fa-2x" aria-hidden="true" style="padding-right: 5px;"></i>Trendy Solutions</span></a>
        </div>   
</div>
</div>
</div>

      



  

        
  <!-- <div class="container-fluid1">
    <div class="newsletter">
     <div class="container d-flex">
             <div class="row">
                    <mat-form-field appearance="outline">
                        <h6>Subscribe to our newsletter</h6>
                        
                        <input matInput class="text" placeholder="Email">
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        
                        <textarea matInput class="text" placeholder="Enter your message here"></textarea>
                      </mat-form-field>
                      <button mat-raised-button color="primary">Submit</button>
                </div>
            </div>
        </div> 
    </div> -->