/* .content-body{
    background: hsl(81, 33%, 81% );
} */
.body{
    background: hsl(81, 33%, 81% );
}
.social{
    margin-top: 40px;
    margin-left: -110px;
    
}
.social span{
    margin-top: 2px;
    padding: 3px;
    /* justify-content: space-between; */
    /* padding-right: 2px; */
    display:flexbox;
    flex-direction: row;
    margin-left: 2px;
    /* justify-content: center; */
}
.container-fluid{
    background-color: black;
    color: white;
    height: 60vh;
    padding-top: 10px;
}
.newsletter{
    font-size: 12px;
    flex-direction: column;
    margin-left: 800px;
    width: 30%;
    padding-bottom: 50px;
    margin-top: -115px;
}
.button{
    padding-top: 2px;
    width: 100%;
}
.contact-us{
    font-size: 12px;
    flex-direction: column;
    margin-left: 300px;
    width: 30%;
    padding-bottom: 70px;
    margin-top: -380px;
    font-weight: 600;

}
.copy{
    margin-left: 900px;
    padding-top: 15px;
    margin-top: -60px;
  
}
.useful-links{
    list-style: none;
    font-size: 12px;
    font-weight: 600;
    margin-top: -5px;
    margin-left: -100px;
}
a:hover{
    background-color: yellowgreen;
}
a:visited{
    color: green;
}
a:active{
    color: pink;
}