.product img{
    width: 50px;
    height: 50px;
}
.product{
    margin: 2px 3px;
    /* text-align: center; */
    padding: 3px 2px;
}
.card{
    padding: 10px;
    margin: 5px;
}
.card img{
    width: 250px;
    height: 200px;
    /* margin-bottom: 20px; */
    transition: 0.3s ease-in-out;
}
.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.product.img{
    width: 250px;
    /* height: 250px; */
   
}
